*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
nav{
    min-height: 80px;
    background-color: white;
}
nav ul{
    float: right;
    font-size: 24px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin-right: 30px;
}
.logo{
float: right;
margin-right: 20px;
line-height: 80px;
font-size: 30px;
color: black;
}
nav ul li a{
    color: black;
}
a:hover{
    border-bottom: 2px solid black;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}
a label:hover{
    border-bottom: solid black 3px;
}
h1{
    text-align: center;
    background-color: rgb(160, 157, 157) ;
}
.all{
    text-wrap: nowrap;
    overflow-x: scroll;
}
img{
    border-radius: 35px;
    padding: 20px;
    height: 400px ;
    display: inline;
}
i{
    text-align: center;
}

img:hover{
    transform: scale(1.08);
    transition: 1.5s;
}

p{
    text-align:right;
    width: 90%;
    margin: auto;
    font-size: 23px;
    color: rgb(43, 42, 42);
    background-color: rgb(237, 246, 248);
    padding: 20px 60px;
    border: 3px solid black;
}
p::first-letter{
    color: rgb(0, 0, 0);
    font-size: 30px;
}
p::first-line{
    font-weight: bolder;
}
p:hover{
    background-color: rgb(208, 228, 245);
}

